@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root{
  --a:0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body{
    background-color: black;
    color: white;
}

.left {
  width: 25vw;
  padding: 10px;
}
.right {
  width: 75vw;
  position: relative;
}

.home ul li {
  display: flex;
  gap: 15px;
  list-style: none;
  width: 24px;
  padding-top: 14px;
  font-weight: 500;
  cursor: pointer;
}
.home ul li a{
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  color: white;
}
.library{
  min-height: 85vh;
  position: relative;
}
.heading{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 8px 14px;
    font-size: 11px;
}
.heading img{
  width: 23px;
}
.footer{
  display: flex;
  font-size: 10px;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}
.footer a{
  color: gray;
  text-decoration: none;

}
.right{
  margin: 15px 0;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(34,34,34);
}
.hamburger{
  display: none;
}
.hamburgerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header > *{
  padding: 15px;
}
.spotifyPlaylist{
  padding: 14px;
}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 30px;
  overflow-y: auto;
  max-height: 70vh;
}
.spotifyPlaylist .card{
  width: 165px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
  transition: all 1s;
}
.card > *{
  padding-top: 8px;
}
.card img{
  width: 100%;
  object-fit: contain;
}
.card h2{
  font-size: 18px;
  font-weight: 500;
}
.card p{
  font-size: 12px;
}
.play{
  position: absolute;
  right: 18px;
  bottom: 70px;
  opacity: var(--a);
  transition: all 1s;
}
.card:hover{
  background-color: rgb(68, 68, 68);
  cursor: pointer;
  --a:1;
}

.buttons > *{
  margin: 0 15px;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.signupbtn{
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  color: white;
  opacity: 0.65;
  cursor: pointer;
  white-space: nowrap;
}
.loginbtn{
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: white;
  opacity: 0.8;
  color: black;
  padding: 14px 30px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;

}
.signupbtn a{
  text-decoration: none;
  color: white;
}
.loginbtn a{
  text-decoration: none;
  color: black;
}
.signupbtn:hover{
  opacity: 1;
}
.loginbtn:hover{
  opacity: 1;
}
.playbar{
  position: fixed;
  background-color: #dad5d5;
  min-height: 40px;
  filter: invert(1);
  width: 70vw;
  padding: 12px;
  bottom: 34px;
  border-radius: 30px;
}
.songbuttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  left: 44%;
}

.songlist ul{
  font-size: 12px;
  overflow-wrap: break-word;
  margin: 0 8px;
}
.songlist ul li{
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px 0;
}
.songlist{
  margin: 30px 0;
  overflow: auto;
  height: 450px;
}
.seekbar{
  position: absolute;
  bottom: 8px;
  height: 7px;
  width: 98%;
  background-color: black;
  border-radius: 2px;
  /* margin: 4px 7px; */
  cursor: pointer;
}
.circle{
  width: 13px;
  height: 13px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  bottom: 3.5px;
  left: 0%;
  transition: left 0.5s;
}
.songbuttons img{
  cursor: pointer;
}
.abovebar{
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.songinfo, .songtime{
  color: black;
  padding: 0 12px;
  font-size: 12px;
}
.timevol{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.volume{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.volume input{
  cursor: pointer;
}


.left .close{
  display: none;
}

@media (max-width: 1050px) {
  .left{
    top: 0;
    background-color: black;
    position: fixed;
    left: -130%;
    transition: all 0.35s;
    z-index: 1;
    width: 100vw;
    padding: 0;
  }
  .right{
    width: 100vw;
  }
  .playbar{
    margin-left: 10px;
    width: calc(100vw - 50px);
  }
  .seekbar{
    width: calc(100vw - 50px); 
    /* margin: 4px 7px; */
  }
  .hamburger{
    display: block;
    height: 44px;
    width: 44px;
    cursor: pointer;
  }
  .left .close{
    display: inline;
    position: absolute;
    width: 30px;
    right: 31px;
    top: 35px;
  }
  
  .loginbtn{
    font-size: 16px; 
    padding: 10px 24px;
  }
  .spotifyPlaylist .card{
    width: 100%;
  }
  .cardContainer{
    margin:20px 0;
    justify-content: center;
    max-height: unset;
    overflow-y: unset;
    margin-bottom: 23vh;
  }
  .right{
    margin: 0;
  }
  .abovebar{
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .songtime, .songinfo{
    width: auto;
  }
  .timevol{
    flex-direction: column;
    gap: 10px;
  }
  .play{
    right: 24px;
    bottom: 70px;
  }
}